<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sistema De Reporteria</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SistemaDeReporteria.AplicacionWeb.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="nav-bar">
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <img class="logo" src="~/images/graph.svg" alt="logo"/>
            </a>
            <ul class="nav-bar-items">
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
            </ul>
        </nav>
    </header>
    
    <main role="main">
            @RenderBody()
    </main>
    

    <footer>
        <div>
            &copy; 2022 - Sistema De Reporteria
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @*@await RenderSectionAsync("Scripts", required: false)*@
</body>
</html>
