<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SistemaDeReporteria.AplicacionWeb.styles.css" asp-append-version="true" />
    <title>Sistema De Reportería</title>
</head>
<body>
    <header>
        <nav class="nav-bar">
            <a class="contenedor-logo" asp-controller="Reporte" asp-action="Index">
                <img class="logo" src="~/images/UNED.png" alt="logo"/>
            </a>
            <ul class="nav-bar-items">
                <li>
                    <a asp-controller="Reporte" asp-action="Reporte">Ir a Gestiona</a>
                </li>
            </ul>
        </nav>
    </header>
    
    <main role="main">
            @RenderBody()
    </main>
    

    <footer  class="footer">
        <div>
            &copy; 2022 - Sistema De Reportería
        </div>
    </footer>

    <script src="~/lib/chart.min.js" asp-append-version="true"></script>
    <script src="~/js/ValidacionesYEventos.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
