<link rel="stylesheet" href="~/css/modal.css" />

<div id="ventanaModal" class="modal">
    <div class="modal-contenido">
        <div class="modal-titulo"></div>
        <div class="modal-cuerpo">
            <p class="modal-cuerpo-contenido"></p>
        </div>
        <button class="modal-boton">Cerrar</button>
    </div>
</div>

<script type="text/javascript">
    ocultarVentanaModal();
</script>