
@{
    ViewData["Title"] = "Ir a...";
}

<h1>@ViewData["Title"]</h1>

<a class="btn" asp-controller="Reporte" asp-action="Proyecto">Proyectos</a>

<a class="btn" asp-controller="Reporte" asp-action="Investigador">Investigadores</a>

<a class="btn" asp-controller="Reporte" asp-action="InvestigadorXProyecto">Investigador por Proyecto</a>