
@{
    ViewData["Title"] = "Ir a...";
}

<section class="index">
    <h1 class="titulo-pagina">@ViewData["Title"]</h1>

    <div class="contenedor-tarjetas">
        <div class="tarjeta">
            <p class="descripcion">De acuerdo con las variables de Proyectos de Investigación, genere reportes dinámicos</p>
            <a class="btn" asp-controller="Reporte" asp-action="Proyecto">Proyectos</a>
        </div>

        <div class="tarjeta">
            <p class="descripcion">De acuerdo con las variables de Investigadores, liste los principales datos</p>
            <a class="btn" asp-controller="Reporte" asp-action="Investigador">Investigadores</a>
        </div>

        <div class="tarjeta">
            <p class="descripcion">De acuerdo con las variables de Investigadores por Proyecto, liste proyectos considerando las variables de ambas partes</p>
            <a class="btn" asp-controller="Reporte" asp-action="InvestigadorXProyecto">InvestigadoresXProyecto</a>
        </div>
    </div>
</section>


