@model InvestigadorViewModel;
@using SistemaDeReporteria.Modelos;
@using Newtonsoft.Json;
@{
    ViewData["Title"] = "Investigadores";
}

<section>
    <div class="tarjeta">
        <h1 class="titulo-pagina">@ViewData["Title"]</h1>
        <fieldset class="tarjeta-checkbox-area">
            <legend>Listar investigadores segun:</legend>
            @{
                Type tipo = Model.VariablesInvestigador.GetType();
                int contadorEdad = 0;

                foreach (System.Reflection.PropertyInfo property in tipo.GetProperties())
                {
                    string id = "ck_";

                    if (property.Name != "Edad_Minima" && property.Name != "Edad_Maxima")
                    {
                        id += property.Name.ToLower().Replace('_','-');
                        <div class="contenedor-check-variable">
                            <input id=@id type="checkbox" name=@property.Name />
                            <label class="lb-variable" for=@property.Name>@property.Name.Replace('_',' ')</label>
                        </div>
                    }
                    else
                    {
                        if (++contadorEdad == 1)
                        {
                            id += "edad";
                            <div class="contenedor-check-variable">
                                <input id=@id type="checkbox" name="Edad" />
                                <label class="lb-variable" for="Edad">Edad</label>
                            </div>
                        }
                        else
                        {
                            continue;
                        }
                    }
                }
            }
        </fieldset>
    
        <form asp-controller="Reporte" asp-action="ObtenerInvestigadores" method="get">
            <div>
                <div id="contenedor_grado-academico" hidden>
                    <label class="lb-variable" for="Grado_Academico">Grado Academico</label><br />
                    <input asp-for="VariablesInvestigador.Grado_Academico" value="" />
                </div>

                <div id="contenedor_edad-minima" hidden>
                    <label class="lb-variable" for="Edad_Minima">Edad Minima</label><br />
                    <input type="number" asp-for="VariablesInvestigador.Edad_Minima" value="" min="1" max="100" />
                </div>

                <div id="contenedor_edad-maxima" hidden>
                    <label class="lb-variable" for="Edad_Maxima">Edad Maxima</label><br />
                    <input type="number" asp-for="VariablesInvestigador.Edad_Maxima" value="" min="1" max="100" />
                </div>

                <div id="contenedor_sexo" hidden>
                    <label class="lb-variable" for="Sexo">Sexo</label><br />
                    <select asp-for="VariablesInvestigador.Sexo" asp-items="@(new SelectList(Model.Sexos))">
                        <option selected value=""></option>
                    </select>
                </div>
            </div>
        
            <div class="form-contenedor-botones">
                <button disabled id="btnSubmit" class="btn" type="submit">Enviar</button>
                <button class="btn" type="reset">Limpiar</button>
            </div>
        </form>
    </div>
</section>

<script src="~/js/ValidacionesYEventos.js" asp-append-version="true"></script>
@await Html.PartialAsync("_VentanaModal")

@section Scripts
{
    <script type="text/javascript">
        const variables = ["grado-academico", "edad", "sexo"]

        validarCantidadCheckboxActivos();
        agregarEventoToggle(variables);
        cambiarEstadoBtnSubmit();
    </script>
}

@if (Model.Errores.Count > 0)
{
    <script>mostrarVentanaModal('Error', @Html.Raw(JsonConvert.SerializeObject(Model.Errores)))</script>
}


    



   
