@model InvestigadorXProyectoViewModel;
@using Newtonsoft.Json;
@using SistemaDeReporteria.Modelos;
@{
    ViewData["Title"] = "Investigadores por Proyecto";
}

<section>
    <div class="tarjeta">
        <h1 class="titulo-pagina">@ViewData["Title"]</h1>
        <fieldset class="tarjeta-checkbox-area">
            <legend>Listar proyectos segun:</legend>
            @{
                Type tipo = Model.VariablesInvestigadorXProyecto.GetType();
                int contadorEdad = 0;

                foreach (System.Reflection.PropertyInfo property in tipo.GetProperties())
                {
                    string id = "ck_";

                    if (property.Name != "Edad_Minima" && property.Name != "Edad_Maxima")
                    {
                        id += property.Name.ToLower().Replace('_', '-');
                        <div class="contenedor-check-variable">
                            <input id=@id type="checkbox" name=@property.Name />
                            <label class="lb-variable" for=@property.Name>@property.Name.Replace('_',' ')</label>
                        </div>
                    }
                    else
                    {
                        if (++contadorEdad == 1)
                        {
                            id += "edad";
                            <div class="contenedor-check-variable">
                                <input id=@id type="checkbox" name="Edad" />
                                <label class="lb-variable" for="Edad">Edad</label>
                            </div>
                        }
                        else
                        {
                            continue;
                        }
                    }
                }
            }
        </fieldset>
    
        <form asp-controller="Reporte" asp-action="ObtenerProyectosXInvestigador" method="get">
            <div>
                <div  id="contenedor_estado" hidden>
                    <label class="lb-variable" for="Estado">Estado</label><br />
                    <select asp-for="VariablesInvestigadorXProyecto.Estado" asp-items="@(new SelectList(Model.Estados))">
                        <option selected value=""></option>
                    </select>
                </div>

                <div  id="contenedor_nombre-del-investigador" hidden>
                    <label class="lb-variable" for="Nombre_Del_Investigador">Nombre del Investigador</label><br />
                    <input asp-for="VariablesInvestigadorXProyecto.Nombre_Del_Investigador" value="" />
                </div>

                <div  id="contenedor_fecha-de-inicio" hidden>
                    <label class="lb-variable" for="Fecha_De_Inicio">Fecha de Inicio</label><br />
                    <input asp-for="VariablesInvestigadorXProyecto.Fecha_De_Inicio" value="" placeholder="AAAA-MM-DD o AAAA" />
                </div>

                <div  id="contenedor_area-cientifica" hidden>
                    <label class="lb-variable" for="Area_Cientifica">Area Cientifica</label><br />
                    <input asp-for="VariablesInvestigadorXProyecto.Area_Cientifica" value="" />
                </div>

                <div  id="contenedor_edad-minima" hidden>
                    <label class="lb-variable" for="Edad_Minima">Edad Minima</label><br />
                    <input type="number" asp-for="VariablesInvestigadorXProyecto.Edad_Minima" value="" min="1" max="100" />
                </div>

                <div  id="contenedor_edad-maxima" hidden>
                    <label class="lb-variable" for="Edad_Maxima">Edad Maxima</label><br />
                    <input type="number" asp-for="VariablesInvestigadorXProyecto.Edad_Maxima" value="" min="1" max="100" />
                </div>
            </div>
        
            <div class="form-contenedor-botones">
                <button disabled id="btnSubmit" class="btn" type="submit">Enviar</button>
                <button class="btn" type="reset">Limpiar</button>
            </div>
        </form>
    </div>
</section>

<script src="~/js/ValidacionesYEventos.js" asp-append-version="true"></script>
@await Html.PartialAsync("_VentanaModal")

@section Scripts
{
    <script type="text/javascript">
        const variables = ["estado", "nombre-del-investigador", "fecha-de-inicio", "area-cientifica", "edad"]
        
        validarCantidadCheckboxActivos();
        agregarEventoToggle(variables);
        cambiarEstadoBtnSubmit();
    </script>
}

@if (Model.Errores.Count > 0)
{
    <script>mostrarVentanaModal('Error', @Html.Raw(JsonConvert.SerializeObject(Model.Errores)))</script>
}