@{
    ViewData["Title"] = "Investigadores por Proyecto";
}

<section>
    <div class="tarjeta">
        <h1 class="titulo-pagina">@ViewData["Title"]</h1>
        <fieldset class="tarjeta-checkbox-area">
            <legend>Listar proyectos segun:</legend>
            @{
                VariablesInvestigadorXProyecto varInvestigadorXProyecto = new();
                Type tipo = varInvestigadorXProyecto.GetType();
                int contadorEdad = 0;

                foreach (System.Reflection.PropertyInfo property in tipo.GetProperties())
                {
                    string id = "ck_";

                    if (property.Name != "Edad_Minima" && property.Name != "Edad_Maxima")
                    {
                        id += property.Name.ToLower().Replace('_', '-');
                        <div class="contenedor-check-variable">
                            <input id=@id type="checkbox" name=@property.Name />
                            <label class="lb-variable" for=@property.Name>@property.Name.Replace('_',' ')</label>
                        </div>
                    }
                    else
                    {
                        if (++contadorEdad == 1)
                        {
                            id += "edad";
                            <div class="contenedor-check-variable">
                                <input id=@id type="checkbox" name="Edad" />
                                <label class="lb-variable" for="Edad">Edad</label>
                            </div>
                        }
                        else
                        {
                            continue;
                        }
                    }
                }
            }
        </fieldset>
    
        <form asp-controller="Reporte" asp-action="ObtenerProyectosXInvestigador" method="get">
            <div>
                @{
                foreach (System.Reflection.PropertyInfo property in tipo.GetProperties())
                {
                    string id = "contenedor_" + property.Name.ToLower().Replace('_', '-');

                    <div id=@id hidden>
                        <label class="lb-variable" for=@property.Name>@property.Name.Replace('_',' ')</label> <br />
                        @Html.Editor(property.Name)
                    </div>
                }
            }
            </div>
        
            <div class="form-contenedor-botones">
                <button class="btn" type="submit">Enviar</button>
                <button class="btn" type="reset">Limpiar</button>
            </div>
        </form>
    </div>
</section>


@section Scripts
{
    <script type="text/javascript">
        const variables = ["estado", "nombre-del-investigador", "fecha-de-inicio", "area-cientifica", "edad"]
        
        validarCantidadCheckboxActivos();
        agregarEventoToggle(variables);
        validarFormulario();
    </script>
}