@{
    ViewData["Title"] = "Proyectos de Investigacion";
}

<section>
    <div class="tarjeta">
        <h1 class="titulo-pagina">@ViewData["Title"]</h1>
        <fieldset class="tarjeta-checkbox-area">
            <legend>Seleccione las variables del reporte</legend>
            @{
                VariablesProyecto varProyecto = new();
                Type tipo = varProyecto.GetType();

                foreach (System.Reflection.PropertyInfo property in tipo.GetProperties())
                {
                    string id = "ck_" + property.Name.ToLower().Replace('_','-');
                        <div class="contenedor-check-variable">
                            <input id=@id type="checkbox" name=@property.Name/>
                            <label class="lb-variable" for=@property.Name>@property.Name.Replace('_',' ')</label>                               
                        </div>
                }
            }
        </fieldset>
    
        <form>
            <div>
                @{
                foreach (System.Reflection.PropertyInfo property in tipo.GetProperties())
                {
                    string id = "contenedor_" + property.Name.ToLower().Replace('_','-');
                        <div id=@id hidden>
                            <label class="lb-variable" for=@property.Name>@property.Name.Replace('_',' ')</label> <br/>
                            @Html.Editor(property.Name)
                        </div>   
                }
            }
            </div>
        
            <div class="form-contenedor-botones">
                <button class="btn" type="submit">Enviar</button>
                <button class="btn" type="reset">Limpiar</button>
            </div>
        </form>
    </div>
</section>


@section Scripts
{
    <script type="text/javascript">
        const variables = ["estado", "tipo", "area-cientifica", "objetivo-socioeconomico", "eje-de-planes",
            "unidad-de-investigacion", "fecha-inicio-estimada", "fecha-inicio-real", "fecha-finalizacion-estimada", 
            "fecha-finalizacion-real", "canton", "region", "objetivo-de-desarrollo-sostenible"]

       validarCantidadCheckboxActivos();
       agregarEventoToggle(variables);
       validarFormulario();
    </script>
}
   
