@using SistemaDeReporteria.AplicacionWeb.Models
@model VariablesProyecto

@{
    ViewData["Title"] = "Proyectos de Investigacion";
}
<div class="tarjeta">
    <h1>@ViewData["Title"]</h1>
    <fieldset class="tarjeta-checkbox-area">
        <legend>Seleccione las variables del reporte</legend>
        @{
            VariablesProyecto varProyecto = new();
            Type tipo = varProyecto.GetType();

            foreach (System.Reflection.PropertyInfo property in tipo.GetProperties())
            {
                string id = "ck_" + property.Name.ToLower().Replace('_','-');
                <div class="contenedor-check-variable">
                    <input id=@id type="checkbox" name=@property.Name/>
                    <label class="lb-variable" for=@property.Name>@property.Name.Replace('_',' ')</label>                               
                </div>
            }
        }
    </fieldset>
    
    <form>
        <div>
            @{
            foreach (System.Reflection.PropertyInfo property in tipo.GetProperties())
            {
                string id = "contenedor_" + property.Name.ToLower().Replace('_','-');
                <div id=@id hidden>
                    <label class="lb-variable" for=@property.Name>@property.Name.Replace('_',' ')</label> <br/>
                    @Html.Editor(property.Name)
                </div>   
            }
        }
        </div>
        
        <div class="form-contenedor-botones">
            <button type="submit">Enviar</button>
            <button type="reset">Limpiar</button>
        </div>
    </form>
</div>

@section Scripts
{
    <script type="text/javascript">
        const variables = ["codigo", "titulo", "estado", "tipo", "area-cientifica", "objetivo-socioeconomico", "eje-de-planes", 
        "unidad-de-investigacion", "fecha-de-inicio", "fecha-de-finalizacion", "canton", "region", "objetivo-de-desarrollo-sostenible", 
        "grado-academico", "edad", "sexo"]

        const agregarEventoToggle = (variables) => {
            variables.forEach((variable) => {
                const ck = document.getElementById(`ck_${variable}`);
                const contenedor = document.getElementById(`contenedor_${variable}`);
                ck.addEventListener('change', () => {
                    contenedor.classList.toggle("show");
                })
            });
        }
        agregarEventoToggle(variables);
    </script>
}
   
