@{
    ViewData["Title"] = "Reporte";
}

<div class="container-reporte">
    <h1 class="titulo-pagina">@ViewData["Title"]</h1>

    <div class="graphic-reporte">
        <h2>Titulo grafico</h2>
        <canvas id="graphic" ></canvas>
    </div>
    <button class="btn" id="btn_descargar" type="button">Descargar</button>

    <div class="table-reporte">
        <table>
        <thead>
            <tr>
                <th>header1</th>
                <th>header2</th>
                <th>header3</th>
                <th>header4</th>
                <th>header5</th>
                <th>header6</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>item1</td>
                <td>item2</td>
                <td>item3</td>
                <td>item4</td>
                <td>item5</td>
                <td>item6</td>
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        const canvas = document.getElementById('graphic');
        
        const handleOnClick = () => {
            const btnDescargar = document.getElementById('btn_descargar');
            btnDescargar.addEventListener('click', () => {
                let link = document.createElement('a');
                link.download = 'Grafico.jpg';
                link.href = canvas.toDataURL('image/jpeg', 1.0);
                link.click();
            })
        }

        handleOnClick();
    </script>
}

