@{
    ViewData["Title"] = "Reporte";
}
<h1>@ViewData["Title"]</h1>

<div class="container-reporte">
    
    <div class="graphic-reporte">
        <h2>Titulo grafico</h2>
        <canvas id="graphic" ></canvas>
    </div>

    <div class="table-reporte">
        <table>
        <thead>
            <tr>
                <th>header1</th>
                <th>header2</th>
                <th>header3</th>
                <th>header4</th>
                <th>header5</th>
                <th>header6</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>item1</td>
                <td>item2</td>
                <td>item3</td>
                <td>item4</td>
                <td>item5</td>
                <td>item6</td>
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
    </div>
</div>


